.button {
    border: none;
    background: var(--color-primary-200);
    padding: 0.6rem 1.2rem;
    border-radius: .4rem;
    font-size: 1.125rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--color-white);
    letter-spacing: .04rem;
    cursor: pointer;
    transition: 0.25s ease;
}

.button:hover {
    background: var(--color-primary-400);
}