:root {

	--color-white: #F2F7F9;

	--color-black-100: #C6CBCC;
	--color-black-200: #939899;
	--color-black-300: #646869;
	--color-black-400: #383C3D;
	--color-black-500: #101415;

	--color-primary-100: #00ABE1;
	--color-primary-200: #0088BC;
	--color-primary-300: #006799;
	--color-primary-400: #004877;
	--color-primary-500: #002B56;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	background: var(--color-black-500);
}

main {
	height: 100%;
}