.container {
    width: 100%;
    /* height: auto; */
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
    box-shadow: inset 0 0 0 2px var(--color-black-300);
}

.canvas {
    width: 800px;
    height: 500px;
    /* aspect-ratio: 16/9; */
    margin: 0;
    padding: 0;
    display: block;
    border-radius: inherit;
    border: 0px solid transparent;
}

.actions {
    position: absolute;
    inset: 1rem 1rem auto auto;
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 960px) {
    .container {
        aspect-ratio: 2/3;
    }
}